<% if current_user && current_user.matched %>
  <%= content_tag :div, class: "group_information", data: {chatName: @chatName} do %>
  <% end %>
  <div>
    <!-- Welcome <%= current_user.email %> You've been grouped! -->
    You've been grouped!
  </h3>

  <h4>Your event</h4>
  <table>
    <tbody>
      <tr>
        <td>Venue:</td>
        <td><%= @event.venue %></td>
      </tr>
      <tr>
        <td>Address:</td>
        <td><%= @event.address %></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><%= @event.date %></td>
      </tr>
    </tbody>
  </table>

  <h4>Your group</h4>
  <table>
    <tbody>
      <% @matchedUsers.each do |user| %>
        <tr>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="row">
   <div class="col-md-8">
     <div id="messages"></div>
     <input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
   </div>
  </div>
<% else %>
  <div class="vertically-center">
    <div id="new-friends-are-hard" class="text-center">
      We're still working to find your new friends...hang tight!
    </div>
  </div>
<% end %>
