<div class="keirsey-briggs">
  <div>
    <label><b>In company do you</b></label>
  </div>
  <label>initiate the conversation</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="in_company_do_you" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>wait to be approached</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Are you more likely to trust your</b></label>
  </div>
  <label>experience</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="are_you_more_likely_to_trust_your" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>hunch</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Is it harder for you to</b></label>
  </div>
  <label>identify with others</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="is_it_harder_for_you_to" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>utilize others</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Are you more often</b></label>
  </div>
  <label>a cool-headed person</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="are_you_more_often" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>a warm-hearted person</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Is it worse to be</b></label>
  </div>
  <label>unjust</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="is_it_worse_to_be" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>without mercy for others</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Are you more</b></label>
  </div>
  <label>punctual</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="are_you_more" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>leisurely</label>
</div>

<div class="keirsey-briggs">
  <div>
    <label><b>Are you more comfortable</b></label>
  </div>
  <label>after a decision</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="are_you_more_comfortable" type="checkbox" id="keirsey_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="keirsey_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>before a decision</label>
</div>
