<div class="meyers-briggs">
  <div>
    <label><b>I enjoy:</b></label>
  </div>
  <label>Meeting new people and doing things</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="i_enjoy" type="checkbox" id="myers_briggs_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="myers_briggs_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>Ruminating over my thoughts and ideas</label>
</div>

<div class="meyers-briggs">
  <div>
    <label><b>I prefer:</b></label>
  </div>
  <label>Tangible objects and valid details</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="i_prefer" type="checkbox" id="myers_briggs_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="myers_briggs_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>Abstract ideas and extrapolating patterns</label>
</div>

<div class="meyers-briggs">
  <div>
    <label><b>I make decisions using:</b></label>
  </div>
  <label>Dispassionate viewpoints and logical conclusions</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="i_make_decisions_using" type="checkbox" id="myers_briggs_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="myers_briggs_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>My impressions of the issue and finding consensus among groups</label>
</div>

<div class="meyers-briggs">
  <div>
    <label><b>I would rather:</b></label>
  </div>
  <label>Have a set plan</label>
  <% 10.times do |number| %>
  <% number += 1 %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="i_would_rather" type="checkbox" id="myers_briggs_<%= number %>" value="<%= number %>">
      <label class="form-check-label" for="myers_briggs_<%= number %>"><%= number %></label>
    </div>
  <% end %>
  <label>Keep my options open</label>
</div>

